<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test parallel="methods" thread-count="3" name="D:/sample/selenium">
        <classes>
            <class name="com.project.tests.LoginTest">

            </class>
            <class name="com.project.tests.InventoryTest">

            </class>/class>
            <class name="com.project.tests.CartTest">

            </class>
        </classes>
    </test>
</suite>